.about {
    padding: var(--padding-vertical-global) var(--padding-horizontal-global);
    /* display: flex; */
    gap: 30px;
}

.about-image {
    display: none;
}

.about-content {
    margin-left: calc(64px - 30px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-description-1 {
    color: var(--content-color);
    font-size: 16px;
    line-height: 162.5%;
    letter-spacing: 0.32px;
}

.about-description-2 {
    color: var(--content-color);
    font-size: 14px;
    line-height: 185.714%;
    letter-spacing: 0.28px;
}

.about-book-service-button {
    align-self: flex-start;
    margin-top: calc(40px - 20px);
}

@media screen and (width >=768px) {
    .about-image {
        display: block;
        width: 330px;
        height: 235px;
        object-fit: cover;
    }

    .about {
        display: flex;
        gap: 30px;
    }

    .about-images-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (width >=1158px) {
    .about-description-1 {
        font-size: 18px;
        line-height: 166.667%;
        letter-spacing: 0.36px;
    }

    .about-images-container {
        flex-direction: row;
    }

    .about-image {
        display: block;
        width: 270px;
        height: 445px;
    }
}