.barbers {
    background-color: #f7f7f7;
    padding: var(--padding-vertical-global) var(--padding-horizontal-global);
}

.barbers-header {
    margin-top: 20px;
    margin-bottom: 44px;
}

.barbers-social-media-list {
    display: flex;
    gap: 10px;
    fill: var(--black-color);
    margin: auto;
    width: fit-content;
    margin: 30px auto 0px auto;
}

.barbers-social-media-icon {
    background-color: white;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.barbers-social-media-icon:hover,
.barbers-social-media-icon:active {
    fill: var(--brand-color);
}

.barbers-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

.barbers-list-item {
    width: fit-content;
}

.barbers-list-item-title {
    color: var(--black-color);

    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;

    margin-top: 30px;
}

.barbers-list-item-description {
    color: var(--brand-color);

    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;

    margin-top: 8px;
}

@media screen and (width >=1158px) {
    .barbers-list {
        flex-direction: row;
        gap: 30px;
    }
}