.footer {
    --padding-vertical: 44px;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
    padding: var(--padding-vertical) var(--padding-horizontal-global);
}

.footer-copy {
    color: #9da4bd;

    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
}

.footer-social-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

.footer-social {
    display: flex;
    gap: 40px;
}

@media screen and (width >=768px) {
    .footer {
        --padding-vertical: 56px;
    }
}

@media screen and (width >=1158px) {}