.portofolio {
    padding: var(--padding-vertical-global) var(--padding-horizontal-global);
}

.portofolio-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.portofolio-subtitle-container {
    margin-bottom: 44px;
}