:root {
    --brand-color: #ff6c00;
    --black-color: #303030;
    --white-color: #ffffff;
    --gray-color: rgba(157, 164, 189, 0.6);

    --content-color: #555;

    --text-font-family: "Open Sans", sans-serif;
    --header-font-family: "Raleway", sans-serif;
}

/* Global styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: var(--text-font-family);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Classes */

.hero {
    width: 100%;
    height: 680px;
    display: flex;
}

.hero-sidebar {
    width: 155px;
    padding: 32px 32px 40px 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-social-media {
    margin-bottom: 40px;
}

.hero-control-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 26px;
}

.hero-control-button {
    background: none;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;

    cursor: pointer;
}

.hero-control-button-dark {
    color: var(--gray-color);
}

.hero-control-button-light {
    color: var(--white-color);
}

.hero-social-media-element:first-child {
    margin-bottom: 40px;
}

.hero-container {
    /* TODO: replace with image background */
    background-color: var(--black-color);
    color: var(--white-color);
    flex-grow: 1;
    padding: 40px 55px 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-navbar {
    display: flex;
    align-items: center;
}

.hero-navbar-list {
    display: flex;
    gap: 40px;
}

.hero-header-cta {
    display: flex;
    gap: 40px;
}

.hero-header-address {
    display: flex;
    align-items: center;
}

.hero-header {
    display: flex;
    justify-content: space-between;
}

.hero-content> :nth-child(n + 2) {
    margin-top: 20px;
}

.hero-title {
    color: var(--white-color);
    font-family: var(--header-font-family);
    font-size: 72px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.6px;
}

.hero-description {
    color: #9da4bd;
    font-size: 18px;
    font-style: normal;
    line-height: 166.667%;
    letter-spacing: 0.36px;
}

.social-media-link {
    color: var(--black-color);
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
}

.social-media-link:hover,
.social-media-link:focus {
    color: var(--brand-color);
}

.nav-link {
    color: var(--white-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--brand-color);
}

.address-phone-number {
    color: var(--white-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.address-phone-number:hover,
.address-phone-number:focus {
    color: var(--brand-color);
}

.book-service-button {
    background: none;
    border-radius: 25px;
    border: 1px solid var(--brand-color);
    padding: 12px 24px;

    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    cursor: pointer;
}

.book-service-button-light {
    color: var(--white-color);
}

.book-service-button-dark {
    color: var(--black-color);
}

.book-service-button:hover,
.book-service-button:focus {
    color: var(--white-color);
    background-color: var(--brand-color);
}

.subtitle-container {
    display: flex;
    gap: 20px;
}

.subtitle {
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.subtitle-dark {
    color: var(--black-color);
}

.subtitle-light {
    color: var(--gray-color);
}

.header {
    font-family: var(--header-font-family);
    font-size: 42px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.1px;
}

.header-dark {
    color: var(--black-color);
}

.header-light {
    color: var(--white-color);
}

.about-content-1 {
    color: var(--content-color);
    font-size: 18px;
    line-height: 166.667%;
    letter-spacing: 0.36px;
}

.about-content-2 {
    color: var(--content-color);
    font-size: 14px;
    line-height: 185.714%;
    letter-spacing: 0.28px;
}

.services-and-prices {
    /* TODO: replace with image background */
    background-color: var(--black-color);
    color: var(--white-color);
}

.why-us-cards {
    --card-width: 170px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;

    max-width: calc(var(--card-width) * 2 + 30px);
}

.why-us-card {
    flex-basis: var(--card-width);
    height: 133px;

    background-color: #f7f7f7;
}

.why-us-card-shifted {
    margin-top: 30px;
}

.contact {
    /* TODO: replace with image background */
    background-color: var(--black-color);
    color: var(--white-color);
}