:root {
    --brand-color: #ff6c00;
}

.social-media-link {
    color: #303030;
}

.social-media-link:hover {
    color: var(--brand-color);
}

.hero-content {
    /* TODO: replace with image background */
    background-color: #303030;
    color: #ffffff;
}

.nav-about {
    color: var(--brand-color);
}

.nav-link {
    color: #ffffff;
}

.address-phone-number {
    color: #ffffff;
}

.book-service-button {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border-color: var(--brand-color);
}